<%- include("partials/header");  -%>


<div class="banner">
    <div class="navbar">
        <img src="images/rescue.png" class="logo">
        <ul>
            <li><a href="home">HOME</a></li>
            
            <li><a href="community">COMMUNITY</a></li>
            <li><a href="donate">DONATE</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="contact">CONTACT</a></li>
            <li><a href="signup">Signup</a></li>
        </ul>
    </div> 
</div>

<div id="about">
    <div class="about-1" >
        <h1 id="ac">ABOUT US</h1>
        <p id="ad">Our vision is put into action through programs and a focus on environmental stewardship, activities to benefit society, and a commitment to build shareholder value by making Heapify a truly sustainable company.
            Lets make this world a better place!<br><br></p>

    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>MISSION</h3>
                            <hr>
                            <p class="ab">
                                To create a better everyday life for the many people by encouraging them to use our services.
                                focus on environmental stewardship, activities to benefit society, and a commitment to build shareholder value by making Heapify a truly sustainable company.
                                    <br><br><br>
                            </p>

                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>VISION</h3>
                            <hr>
                            <p class="ab">Our vision is put into action through programs and a focus on environmental stewardship, activities to benefit society, and a commitment to build shareholder value by making Heapify a truly sustainable company.
                                Lets make this world a better place!
                                <br><br><br>
                            </p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-pen"></i>
                            <h3>ACHIEVEMENTS</h3>
                            <hr>
                            <p class="ab"
                            >We are 4-time winner of the national rescue campaign held every year by the united nations .
                            focus on environmental stewardship, activities to benefit society, and a commitment to build shareholder value by making Helpify a truly sustainable company.
                            <br><br><br></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center">
<p>
Copyright &copy; 2021 All Rights Reserved by ACVGDR  
</p>        
</footer>

<%- include("partials/footer");  -%>