<%- include("partials/footer");  -%>


<div class="banner">
    <div class="navbar">
        <img src="images/rescue.png" class="logo">
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="community">COMMUNITY</a></li>
            <li><a href="donate">DONATE</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div> 
</div>


<div class="contact container">
    <div class="contact content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Sukhdev Road, NH12</div>
          <div class="text-two">Indranagar, Delhi</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">xyz@gmail.com</div>
          <div class="text-two">info.xyz@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any updates, suggestions or any type of queries related to our work, you can contact us anytime. It stays between us.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
            <input type="text" placeholder="Enter your message">
        </div>
        
        <div class="button">
          <input type="button" value="Send Now" >
          </div>
          <div>
        </div>
      </form>
    </div>
    </div>
  </div>

<%- include("partials/footer");  -%>