<%- include("partials/header");  -%>
<div class="banner">
    <div class="navbar">
        <img src="images/rescue.png" class="logo">
        <ul>
            <li><a href="home">HOME</a></li>
            
            <li><a href="community">COMMUNITY</a></li>
            <li><a href="donate">DONATE</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="contact">CONTACT</a></li>
            
          
            <li><a href="signup">Signup</a></li>
            
        </ul>
    </div> 
</div>

<div class="container">
    <div class="innerwrap">
    
        <section class="section1 clearfix">
            <div class="textcenter">
                <h1>Drop Us An ALERT</h1>
            </div>
        </section>
    
        <section class="section2 clearfix">
            <div class="col2 column1 first">
                <p class="pp"> Precautions:</p><br><br>
                <ul>
                    <li class="vv">Homicide.</li>
                        <ul  class="bb">
                            <li>Write the FIR immediately with all available details</li>
                            <li>Register a case even if the information is from the accused.</li>
                        </ul>
                        <br><br>
                    <li class="vv">Theft crimes.</li>
                        <ul  class="bb">
                            <li>If you suspect you're being followed, stay away from deserted blocks and head for an area where people are or the nearest open store </li>
                            <li>Keep your smart phone on your person / coat or jacket, don't display when not in use especially while using mass transit.</li>
                        </ul><br><br>
                    <li class="vv">Violent crimes</li>
                        <ul  class="bb">
                            <li>If something is stolen from you, immediately report it to the local police (RUPD if you are on campus). Call the credit card company, phone company, etc. to report stolen items as well.</li>
                            <li>Be mindful of your surroundings–lock your doors and windows, don’t leave exterior building doors propped open, don’t let strangers into your residence, etc.</li>
                        </ul>
    
                </ul>
            </div>
            <div class="col2 column2 last">
                <div class="sec2innercont">
                    <div class="sec2addr">
                        <p>If you notice any alarming situation, kindly inform us.</p>
                        <p><span class="collig">emergency no :</span> 212-854-5555</p>
                    </div>
                </div>
                <div class="sec2contactform">
                    <h3 class="sec2frmtitle"> Enter your details</h3>
                    <form action="">
                        <div class="clearfix fg">
                            <input class="col2 first" type="text" placeholder="FirstName">
                            <input class="col2 last" type="text" placeholder="Contact">
                        </div>
                        <div class="clearfix fg">
                            <textarea name="textarea" id="" cols="20" rows="3">Your current location...</textarea>
                        </div>
                        <div class="clearfix fg"><input type="submit" value="Send"></div>
                    </form>
                </div>

            </div>
        </section>
    
    </div>
</div>

<%- include("partials/footer");  -%>