
<%- include("partials/header");  -%>
<div class="banner">
    <div class="navbar">
        <img src="images/rescue.png" class="logo">
        <ul>
            <li><a href="home">HOME</a></li>
            
            <li><a href="community">COMMUNITY</a></li>
            <li><a href="#">DONATE</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="contact">CONTACT</a></li>
            <li><a href="signup">Signup</a></li>
        </ul>
    </div> 
</div>


<header>
	<div class="ccontainer">
		<div class="left">
			<h3 class="h">DONATION DETAILS</h3>
			<form>
				<img src="images\donation.jpg" height="200px", width="310px" >
				            
				Full name
				<input type="text" name="" placeholder="Enter name">
				Email
				<input type="text" name="" placeholder="Enter email">

			</form>
		</div>
		<div class="right">
			<h3 class="h">PAYMENT</h3>
			<form>
				Accepted Card <br>
				<img src="images/card1.png" width="100">
				<img src="images/card2.png" width="50">
				<br><br>

				Credit card number
			<input type="text" name="" placeholder="Enter card number">
				
				Exp month
				<input type="text" name="" placeholder="Enter Month">
				<div id="zip">
					<label>
						Exp year
						<select>
							<option>Choose Year..</option>
							<option>2022</option>
							<option>2023</option>
							<option>2024</option>
							<option>2025</option>
						</select>
					</label>
						<label>
						CVV
						<input type="number" name="" placeholder="CVV">
					</label>
				</div>
			</form>
			<input type="submit" name="" value="Proceed to Checkout">
		</div>
	</div>
</header>
<%- include("partials/footer");  -%>