<%- include("partials/header");  -%>

<div class="banner">
    <div class="navbar">
        <img src="images/rescue.png" class="logo">
        <ul>
            <li><a href="home">HOME</a></li>
           
            <li><a href="community">COMMUNITY</a></li>
            <li><a href="donate">DONATE</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
    </div> 
</div>

<div class="container">
    <div class="innerwrap">
    
        <section class="section1 clearfix">
            <div class="textcenter">
                <h1>Drop Us An ALERT</h1>
            </div>
        </section>
<!--     
        <marquee class="style" behaviour="scroll">
            <h3> Drop us an ALERT</h3>
        </marquee> -->
        <!-- <button class="btn btn-outline-info btn-close-black rdd "> UPDATE </button -->
        <section class="section2 clearfix">
            <div class="col2 column1 first">
                <p class="pp"> Precautions:</p><br>
                <ul>
                    <li class="abb">Know how to safely operate a fire extinguisher.</li><br><br>
                    <li class="abb">If closed doors or handles are warm or smoke blocks your primary escape route, use your second way out.</li><br><br>
                    <li class="abb">If you must escape through smoke, get low and go under the smoke to your exit. Close doors behind you.</li><br><br>
                    <li class="abb">Remember to GET OUT, STAY OUT and CALL 9-1-1 or your local emergency phone number.</li>
                </ul>
            </div>
            <div class="col2 column2 last">
                <div class="sec2innercont">
                    <div class="sec2addr">
                        <p class="abb">If you notice any alarming situation, kindly inform us.</p>
                        <p><span class="collig">Fire-brigade no :</span> 911</p>
                    </div>
                </div>
                <div class="sec2contactform">
                    <h3 class="sec2frmtitle"> Enter the details</h3>
                    <form action="/fire" method="post">
                        <div class="clearfix">
                            <input class="col2 first" type="text" placeholder="Description" name="Description">
                            <input class="col2 last" type="text" placeholder="Contact" name="Contact">
                        </div>
                        <div class="clearfix">
                            <textarea name="textarea" id="" cols="20" rows="3" placeholder="Your current location" name="Address"></textarea>
                        </div>
                        <div class="clearfix"><input type="submit" value="Send" ></div>
                    </form>
                </div>

            </div>
        </section>
    
    </div>
</div>

<script>
    const succCallback=(position)=>{
        console.log(position);
    }

    const errorCallback=(error)=>{
        console.log(error);
    }

    navigator.geolocation.getCurrentPosition(succCallback,errorCallback)
</script>
<%- include("partials/footer");  -%>